<br><br><br>
<div class="container">
    <div class="jumbotron">
        <p class="lead text-center">Search for an artist</p>
        <form action="/artist" method="POST">
            <input type="text" class="form-control mb-4" name="artist" placeholder="Eminem">
            <button type="submit" class="btn btn-primary btn-sm btn-block">Submit</button> 
        </form>
    </div>
</div>